@import url(https://cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css);
html,body,button{
    font-family: "NanumSquare";
}
body{
    background-color: darkseagreen;
    text-align: center;
    margin: 0;           
}
button { 
   color:black; font-size:15pt; border: 2px solid rgba(112, 148, 112, 0.89); background-color:rgba(0, 0, 0, 0); margin-top:5px; margin-bottom:5px; 
}
.container{
    background-color: rgba(255, 255, 255, 0.733);
    text-align: center;
    width:100%;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    margin-top:-230px;
}
h1{
    font-size: 75px;
}
h2{
    font-size: 20px;
}
@media screen and ( min-width:610px ){
   button{
       top: 50%; width:300px; height:80px;
   }
}
@media screen and ( max-width:610px ){
    button{
       top: 50%; width:200px; height:65px;
    }
}
